<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="assets/styles/main.css">
	<script src="assets/vendor/angular/angular.min.js"></script>
	<script src="assets/vendor/angular-route/angular-route.min.js"></script>
	<script src="assets/vendor/d3/d3.min.js"></script>

	<script src="app/app.js"></script>
	<script src="app/route-config.js"></script>
	<script src="app/services/pft-service.js"></script>
	<script src="app/index/index.js"></script>
	<script src="app/detail/detail.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>


